.thick select,
.thick input[type="text"],
.thick textarea,
.thick input[type="password"] {
	padding: 10px;
	border: solid 5px #c9c9c9;
	transition: border 0.3s;
}

.thick select:focus,
.thick input[type="text"]:focus,
.thick input[type="text"].focus,
.thick textarea:focus,
.thick input[type="password"]:focus,
.thick input[type="password"].focus {
	border: solid 5px #969696;
}

.thick input[type="submit"], input[type="button"] {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: rgba(76, 175, 90, 1.0);
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.thick input[type="submit"]:hover,.thick input[type="submit"]:active,.thick input[type="submit"]:focus {
	background: rgba(67, 160, 71, 1.0);	
}

.thick input[type="button"]:hover,.thick input[type="button"]:active,.thick input[type="button"]:focus {
	background: rgba(67, 160, 71, 1.0);	
}