.form {
	position: relative;
	z-index: 1;
	background: rgba(0, 0, 0, 0.8);
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

@media screen and (max-width: 512px) {
	.form {
		max-width: 160px;
	}
}


.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	/* background: rgba(242, 242, 242, 0.8); */
	background: rgba(0, 0, 0, 1.0);
	border: 1px solid #FFFFFF;
	color: white;
	width: 100%;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 1.0) inset;
	border: 1px solid #FFFFFF;
	-webkit-text-fill-color: white !important;
}
.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: rgba(76, 175, 90, 0.8);
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
	background: rgba(67, 160, 71, 0.8);	
}