/** `block` display */
footer,
header,
nav {
	display: block;
}

/**
 * Base
 */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *		`em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *		user zoom.
 */

html {
	/** Text Resizing */
	font-size: 100%;
	/** Correct Adjustment */
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/** Default Font Family */
html,
button,
input,
select,
textarea {
	font-family: sans-serif;
}

/** Default Margin */
body {
		margin: 0;
}

/**
 * Links
 */

/** focus on links should be thin dotted. */
a:focus {
		outline: thin dotted;
}

/** No Outline when active/hover. */
a:active,
a:hover {
		outline: 0;
}

/**
 * Typography
 * Adjust Sizes of h1-h6
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.67em;
	margin: 2.33em 0;
}


/** Should be bold(for IE) */
b,
strong {
	font-weight: bold;
}

/**
 * hr Sizing for Mozzila
 */
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

/**
 * Proper size for Small
 */
small {
	font-size: 80%;
}


/**
 * Correct List in Navigation
 */
nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
}

/**
 * Image
 * Remove border when inside a element.
 */
img {
	border: 0;
}

/**
 * Forms
 * Correct margin displayed oddly.
 */
form {
	margin: 0;
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *	and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
	font-size: 100%; /* 1 */
	margin: 0; /* 2 */
	/** 3 */
	vertical-align: baseline;
	*vertical-align: middle;
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
	line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *	and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *	`input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *	Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
	*overflow: visible;	/* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *	Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
	*height: 13px; /* 3 */
	*width: 13px; /* 3 */
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
	overflow: auto; /* 1 */
	vertical-align: top; /* 2 */
}

/**
 * Tables
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	-webkit-tap-highlight-color: transparent;
	/* disable webkit tap highlight */
	overflow-x: hidden;
}

/* Lists */
ul {
	margin: 0;
	padding: 0;
}

/* Container */
#container {
	position: relative;
	padding: 20px 40px;
	padding-top: 80px;
}

/* Menu Button */
.menu-btn {
	width: 100px;
	padding: 10px;
	margin-bottom: 30px;
	background: #000;
	color: #FFF;
	text-align: center;
	cursor: pointer;
}
.menu-btn:hover {
	opacity: 0.6;
}

/* */
.menu-header {
	position: fixed;
	z-index: 9998;
	top: 80px;
	left: 40px;
}

/* Header */
.site-header {
	position: fixed;
	background: #000;
	color: #FFF;
	width: 100%;
	padding: 20px 0;
	text-align: center;
	z-index: 9998;
}

/* Footer */
.site-footer {
	position: relative;
	border-top: 1px solid #EEE;
	color: #999;
	padding: 10px;
	font-size: 0.8em;
	text-align: center;
}

/**
 * ! Pushy - v1.0.0 - 2016-3-1
 */
/* Menu Appearance */
.pushy {
	position: fixed;
	width: 200px;
	height: 100%;
	top: 0;
	z-index: 9999;
	background: #191918;
	overflow: auto;
	visibility: hidden;
	-webkit-overflow-scrolling: touch;
	/* enables momentum scrolling in iOS overflow elements */
}
.pushy a {
	display: block;
	color: #b3b3b1;
	padding: 15px 30px;
	text-decoration: none;
	outline: 0;
}
.pushy a:hover {
	color: #FFF;
}
.pushy ul:first-child {
	margin-top: 10px;
}
.pushy.pushy-left {
	left: 0;
}
.pushy.pushy-right {
	right: 0;
}

/* Menu Movement */
.pushy-left {
	-webkit-transform: translate3d(-200px, 0, 0);
	-ms-transform: translate3d(-200px, 0, 0);
	transform: translate3d(-200px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
	-webkit-transform: translate3d(200px, 0, 0);
	-ms-transform: translate3d(200px, 0, 0);
	transform: translate3d(200px, 0, 0);
}

.pushy-right {
	-webkit-transform: translate3d(200px, 0, 0);
	-ms-transform: translate3d(200px, 0, 0);
	transform: translate3d(200px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
	-webkit-transform: translate3d(-200px, 0, 0);
	-ms-transform: translate3d(-200px, 0, 0);
	transform: translate3d(-200px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Menu Transitions */
#container,
.pushy,
.push {
	transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
	display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9998;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-animation: fade 500ms;
	animation: fade 500ms;
}


/* Submenu Appearance */
.pushy-submenu {
	/* Submenu Icon */
}
.pushy-submenu ul {
	padding-left: 15px;
	transition: max-height 0.2s ease-in-out;
}
.pushy-submenu ul .pushy-link {
	transition: opacity 0.2s ease-in-out;
}
.pushy-submenu > a {
	position: relative;
}
.pushy-submenu > a::after {
	content: '';
	display: block;
	height: 11px;
	width: 8px;
	position: absolute;
	top: 50%;
	right: 15px;
	background: url("../img/arrow.svg") no-repeat;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	transition: transform 0.2s;
}

/* Submenu Movement */
.pushy-submenu-closed ul {
	max-height: 0;
	overflow: hidden;
}
.pushy-submenu-closed .pushy-link {
	opacity: 0;
}

.pushy-submenu-open {
	/* Submenu Icon */
}
.pushy-submenu-open ul {
	max-height: 1000px;
}
.pushy-submenu-open .pushy-link {
	opacity: 1;
}
.pushy-submenu-open a::after {
	-webkit-transform: translateY(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) rotate(90deg);
	transform: translateY(-50%) rotate(90deg);
}

.no-csstransforms3d .pushy-submenu-closed ul {
	max-height: none;
	display: none;
}

/*# sourceMappingURL=pushy.css.map */

/* Divider */
hr.style1 {
	background-color: #191918;
	border-top: 2px dashed #8c8b8b;
	border-style: dashed;
}
hr.style2 {
	border-style: dashed;
}

body {
	float: center;
}

/* Cards */
.card-left {
	text-align: left;
	padding-left: 60px;
	padding-bottom: 16px;
}

.card-inner {
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	word-wrap: break-word;
	word-break: break-word;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	max-width: 400px;
	min-width: 400px;
	border-radius: 5px;
	text-align: center;
	display: table-cell;
	word-wrap: break-word;
}

@media screen and (min-width: 320px) {
	.card {
		min-width: 250px;
	}
	.card-inner {
		padding-bottom: 1px;
		padding-left: 1px;
		padding-right: 1px;
	}
	.site-header .book {
		width: 15%;
		position: absolute;
		top: 6px;
		left: 2px;
	}
	.site-header .text {
		width: 30%;
		position: absolute;
		top: 10px;
		left: 80px;
	}
}

@media screen and (min-width: 480px) {
	.site-header .book {
		width: 9%;
		position: absolute;
		top: 6px;
		left: 5px;
	}
	.site-header .text {
		width: 18%;
		position: absolute;
		top: 10px;
		left: 75px;
	}
}

@media screen and (min-width: 680px) {
	.card {
		min-width: 300px;
	}
	.card-inner {
		padding-bottom: 6px;
		padding-left: 6px;
		padding-right: 6px;
	}
	.site-header .book {
		width: 7%;
		position: absolute;
		top: 6px;
		left: 10px;
	}
	.site-header .text {
		width: 14%;
		position: absolute;
		top: 10px;
		left: 85px;
	}
}

@media screen and (min-width: 1024px) {
	.card {
		min-width: 300px;
	}
	.card-inner {
		padding-bottom: 12px;
		padding-left: 12px;
		padding-right: 12px;
	}
	.site-header .book {
		width: 5%;
		position: absolute;
		top: 6px;
		left: 15px;
	}
	.site-header .text {
		width: 10%;
		position: absolute;
		top: 10px;
		left: 90px;
	}
}

@media screen and (min-width: 1320px) {
	.card {
		min-width: 400px;
	}
	.card-inner {
		padding-bottom: 16px;
		padding-left: 16px;
		padding-right: 16px;
	}
	.site-header .book {
		width: 5%;
		position: absolute;
		top: 6px;
		left: 20px;
	}
	.site-header .text {
		width: 10%;
		position: absolute;
		top: 10px;
		left: 100px;
	}
}

.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-wrapper {
	border-collapse: separate;
	border-spacing: 10px;
	display: table;
}

.card-row {
	display: table-row;
	width: 100%;
}

img {
		border-radius: 5px 5px 0 0;
}

.container {
		padding: 2px 16px;
}

/** ScrollBar */
::-webkit-scrollbar {
	width: 12px;
}
 
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 2px 2px 6px rgba(153, 153, 102, 0.3);
	border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 2px 2px 6px rgba(153, 153, 102, 0.5); 
	height: 200px;
}

select::-webkit-scrollbar-thumb {
	height: 1px;
}