/* Dropdown Button */
.dropbtn {
	font-family: "FontAwesome";
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	z-index: 1000;
}
.dropbtn.bef::after {
	content: "\f107";
	padding: 5px;
}
.dropbtn::after {
	content: "\f107";
	padding: 5px;
}
.dropbtn.after::after {
	content: "\f106";
	padding: 5px;
}
/*
.dropbtn::after {
	content: "\f107";
	padding: 5px;
}

.dropbtn:hover::after {
	content: "\f106";
}
*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1000;
	overflow: none;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #e9e9e9;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}