@media screen and (min-width: 320px) {
	.cmsys-fill {
		padding: 2px 4px;
		margin-bottom: 2px;
	}
}
@media screen and (min-width: 680px) {
	.cmsys-fill {
		padding: 5px 10px;
		margin-bottom: 3px;
	}
}
@media screen and (min-width: 1024px) {
	.cmsys-fill {
		padding: 8px 16px;
		margin-bottom: 4px;
	}
}
@media screen and (min-width: 1320px) {
	.cmsys-fill {
		padding: 10px 20px;
		margin-bottom: 5px;
	}
}
.cmsys-form h3 {
	color: #0060f9;
	text-align: center;
}

.cmsys-form {
	margin: 20px;
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font: normal 16px/normal "Times New Roman", Times, serif;
	-o-text-overflow: clip;
	text-overflow: clip;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.cmsys-fill {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font: normal 16px/normal "Times New Roman", Times, serif;
	-o-text-overflow: clip;
	text-overflow: clip;
	-webkit-box-shadow: 4px 4px -2px 29 rgba(0,0,0,0.2) ;
	box-shadow: 4px 4px 2px 0 rgba(0,0,0,0.2) ;
	text-shadow: 0px 0px 0 rgba(15,73,168,0.66);
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.cmsys-input2 {
	border: 1px solid #b7b7b7;
	color: rgba(0,142,198,1);
	background: rgba(252,252,252,1);
}

.cmsys-input2:hover, .cmsys-input2:focus {
	background: rgba(247,247,247,1);
}

.cmsys-button2 {
	cursor: pointer;
	border: 1px solid #018dc4;
	color: rgba(255,255,255,0.9);
	background: #0199d9;
}

.cmsys-button2:hover {
	background: #0780af;
}

.cmsys-button2:disabled {
	background: #a8a8a8;
	border: 1px solid #bfc0c1;
}
.cmsys-button2:disabled:hover {
	background: #4a4b4c;
	border: 1px solid #646566;
}

.cmsys-red-button {
	cursor: pointer;
	color: rgba(255,255,255,0.9);
	background: #cd041d;	
}

.cmsys-red-button:hover {
	background: #f7404f;
}

.hide-radio {
	display: none;
	border: 1px solid #b7b7b7;
}
.hide-radio + label {
	border: 1px solid #b7b7b7;
	border-radius: 5px;
	display: block;
	float: left;
	width: 200px;
	padding: 2px 0;
	text-align: center;
	background-color: #e74c3c;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	-webkit-transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}
 
.hide-radio:checked + label {
	border: 1px solid #b7b7b7;
	border-radius: 5px;
	display: inline-block;
	background-color: #2ecc71;
}