.attend-text {
	word-wrap: break-word;
	display: inline-block; 
}

@media screen and (min-width: 320px) {
	.attend-text {
		min-width: 80px;
	}
}
@media screen and (min-width: 680px) {
	.attend-text {
		min-width: 160px;
	}
}
@media screen and (min-width: 1320px) {
	.attend-text {
		min-width: 240px;
	}
}